/* This stylesheet is where to add styles for your Shakespeare Play */
/*We usually add something general for the body*/
* {
  
  box-sizing: border-box;
}


body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  background-color: black;
}



section {
  
}

/*Here follows the class names that you will have in your html*/
/*You may have more if you added styles in InDesign*/
/*You need to add the style attributes between the curly brackets*/

/* the following may not be used but it doesn't matter if they are listed here  */

/* If you ahe created any new styles in InDesign and used export tags then you need to add them here */
a:link {
  color: burlywood;
}
a:visited {
  color: blanchedalmond;
}
a:hover{
  color: darkgoldenrod;
}

section.contents{
  margin: 10px auto 10px auto;
  width: 70%;
  max-width: 750px;
  padding: 20% auto 20% auto;
}
section.dramatis {
  border: 2px solid white;
  margin: 10px auto 10px auto;
  padding: 2em;
  width: 70%;
  max-width: 750px;
}
section.scene {
  margin: 10px auto 10px auto;
  width: 70%;
  max-width: 750px;
  text-align: center;
}
section.play {
  
  margin: 10px auto 10px auto;
  width: 70%;
  max-width: 750px;
}
section.image {
  padding: 2em;
  width: 70%;
  max-width: 750px;
  display: flex;
  min-width: 350px;
  
}
img {
  width: 80%;
  display: block;
  margin: 10px auto 10px auto;
}
h1.act {
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  color: white;
  margin-top: 4%;
  margin-bottom: 4%;
}
p.character {
  font-family:Georgia, 'Times New Roman', Times, serif;
}
p.charactername {
  font-family:Georgia, 'Times New Roman', Times, serif;
}
h1.dramatishead {
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  color: white;
  margin-bottom: 30px ;
  margin-top: 15px;
}
h2.firstscene {
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  color: white;
  margin-bottom: 30px ;
  margin-top: 15px;
}
h2.location {
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  color: white;
  margin-bottom: 30px ;
  margin-top: 15px;
}
p.play_location {
}
p.prose {
}
h2.scene {
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  color: white;
  margin-top: 4%;
}
p.song {
}
h2.stagedirection {
}

.verseline {
  margin: 0 0 0.4em 8em;
}
span.character_role {
  
}
span.stage_directions_inline {
}

span.character_beforespeech {
}

@media screen and (max-width: 700px) {
  html {
    font-size: 12px;
    width:100%;
  }
}

