/* This stylesheet is where to add styles for your Shakespeare Play */
/*We usually add something general for the body*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
      scroll-padding-top: 150px;
  }
  
  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*your style rules go in here */
  }
  
  section {
    border: 0;
  }


/*Here follows the class names that you will have in your html*/
/*You may have more if you added styles in InDesign*/
/*You need to add the style attributes between the curly brackets*/

/* the following may not be used but it doesn't matter if they are listed here  */

section.cover {
  text-align: center;
  width: 70%;
  margin: 20px auto;
}

img.playimage {
  /* you will need a width attribute in here */
  max-width: 40%;
  padding: 20px auto;
}

img.shakespeareimage {
  /* you will need a width attribute in here */
  max-width: 40%;
  padding: 20px auto;
}

/* If you have created any new stlyes in InDesign and used export tags then you need to add them here */

section.dramatis {
}
section.play {
}
div.sceneImage {
}
h1.act {
}
p.character {
}
p.charactername {
}
h1.dramatishead {
}
h2.firstscene {
}
h2.location {
}
p.play_location {
}
p.prose {
}
h2.scene {
}
p.song {
}
h2.stagedirection {
}
p.verseline {
}
span.character_role {
}
span.stage_directions_inline {
}

span.character_beforespeech {
}
* {
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(0, 0, 0);
}
h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
    margin-top: 30px ;
}
h2  {font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
    margin-bottom: 30px ;
    margin-top: 15px;

}
img {
    width: 80%;
    display: block;
    margin: 10px auto 10px auto;
}
main {
    width: 90%;
    max-width: 1000px;
    border: 3px double rgb(0, 0, 0);
    background-color: white;
    margin:0 auto;
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
}
figure {
    width: 100%;
    margin: 10px auto 10px auto;
    color: white;
    flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 1;
}
section {
    margin-top: 20px;
    flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 1;
}
p {
    text-align: justify;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
}
.first {
    
}
ul {
    list-style-type: square;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: auto;
}
footer { 
    margin-left: 10px;
}


@media only screen and (max-width:600px) {
    main {
        width: 100%;
        padding: 2%;
    }
    section {
        margin-top: 5px;
        font-size: 1em
    }
}